.left-content
  %ul.nav-list
    =link_to mypage_users_path do
      %li.mylink
        %p.mylink__p マイページ 
        =fa_icon "chevron-right"
    =link_to "#" do
      %li.mylink 
        %p.mylink__p お知らせ
        =fa_icon "chevron-right"
    =link_to "#" do
      %li.mylink 
        %p.mylink__p 商品一覧
        =fa_icon "chevron-right"
    =link_to "#" do
      %li.mylink 
        %p.mylink__p やることリスト
        =fa_icon "chevron-right"
    =link_to mypage_listings_users_path do
      %li.mylink 
        %p.mylink__p 出品した商品-出品中
        =fa_icon "chevron-right"
    =link_to "#" do
      %li.mylink 
        %p.mylink__p 出品した商品-取引中
        =fa_icon "chevron-right"
    =link_to mypage_complete_users_path do
      %li.mylink 
        %p.mylink__p 出品した商品-売却済み
        =fa_icon "chevron-right"
    =link_to "#" do
      %li.mylink 
        %p.mylink__p 購入した商品-取引済み
        =fa_icon "chevron-right"
    =link_to "#" do
      %li.mylink
        %p.mylink__p 購入した商品-過去の取引
        =fa_icon "chevron-right"
    =link_to "#" do
      %li.mylink
        %p.mylink__p ニュース一覧
        =fa_icon "chevron-right"
    =link_to "#" do
      %li.mylink 
        %p.mylink__p 評価一覧
        =fa_icon "chevron-right"
    =link_to "#" do
      %li.mylink 
        %p.mylink__p ガイド
        =fa_icon "chevron-right"
    =link_to "#" do
      %li.mylink 
        %p.mylink__p 問い合わせ
        =fa_icon "chevron-right"
  %h3.title  メルペイ
  %ul.nav-list 
    =link_to "#" do
      %li.mylink 
        %p.mylink__p 残高・振込申請
        =fa_icon "chevron-right" 
    =link_to "#" do
      %li.mylink 
        %p.mylink__p ポイント
        =fa_icon "chevron-right" 
  %h3.title  設定
  %ul.nav-list
    =link_to mypage_profile_users_path do
      %li.mylink-myp
        %p.mylink-myp__myp プロフィール
        =fa_icon "chevron-right" 
    =link_to "#" do
      %li.mylink
        %p.mylink__p 発送元・お届け住所変更
        =fa_icon "chevron-right"
    =link_to mypage_card_users_path do
      %li.mylink
        %p.mylink__p 支払い方法
        =fa_icon "chevron-right"
    =link_to "#" do
      %li.mylink
        %p.mylink__p メール/パスワード
        =fa_icon "chevron-right"
    =link_to mypage_identification_users_path do
      %li.mylink
        %p.mylink__p 本人情報
        =fa_icon "chevron-right"
    =link_to "#" do
      %li.mylink
        %p.mylink__p 電話番号の確認
        =fa_icon "chevron-right"
    =link_to logout_users_path do
      %li.mylink
        %p.mylink__p ログアウト
        =fa_icon "chevron-right"