
.item__other__user__contents__content
  .item__other__user__contents__content__img
    = image_tag "/ロゴ/靴.jpg"
  .item__other__user__contents__content__body
    .item__other__user__contents__content__body__name
      おしゃれなスニーカー
    .item__other__user__contents__content__body__price
      ¥999