.card-wrapper
  .card-header
    .card-header__logo
      = image_tag "/ロゴ/image.png"
    .card-header__ba  
      = image_tag "/ロゴ/バナーカード.png"
  .title 
    %h2 支払い方法
  = render "new"
  = render "items/c-footer"     