.card-wrapper
  .card-header
    .card-header__logo
      = image_tag "/ロゴ/image.png"
    .card-header__ba  
      .mo-ji
        .moji 会員情報
        .moji お届け先住所入力
        .moji1 支払い方法
        .moji 完了
      .ge-ji
        .maruru
        .sensen
        .maruru
        .sensen
        .maruru
        .sen
        .maru
  .title 
    %h2 支払い方法
  = render "new"
  = render "items/c-footer"     