.top__header__content__2__right{
  padding-left:160px;
  position: relative;
  .icon{
    width: 30px;
    height: 30px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    // margin: auto;
  }
  .m{
    padding: 40px;
  }
}