.mymein-content {
  width: 700px;
}
.mypage {
  text-align: center;
  width: 700px;
  height: 200px;

  &__icon {
    width: 700px;
    height: 200px;

    background-image: url("/ロゴ/back.jpg");
    margin: 0 auto;
    .icon {
      margin: 50px auto 10px;
      overflow: hidden;
      border-radius: 50%;
      &__nicname {
        height: 20px;
        color: #000;
        text-align: center;
      }
    }
    &__number {
      margin-top: 8px;
      height: 16px;
      display: flex;
      justify-content: center;
      &__list {
        display: flex;
        margin-inline-start: 16px;
        .bold {
          margin-top: 4px;
          font-weight: bold;
          margin-left: 8px;
        }
      }
    }
  }
}
.tab-var {
  &__mypage {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    .tab-notice {
      border-top: 1px solid red;
      line-height: 75px;
      width: 350px;
      height: 75px;
      background: #fff;
      color: black;
    }
    .tab-todo {
      text-align: center;
      line-height: 75px;
      width: 350px;
      height: 75px;
      background-color: #eeeeee;
      color: black;
    }
  }
}
.tab-content {
  background-color: #fff;
  &__notice-list {
    line-height: 90px;
    color: black;
    margin-bottom: 30px;
  }
}
.notice {
  display: flex;
  line-height: 60px;
  height: 80px;
  .text {
    width: 680px;
    margin: auto 0;
    color: black;
  }
  i {
    margin: auto 0;
    margin-right: 10px;
    color: black;
  }
}
.btn {
  background-color: #fff;
  text-align: center;
  height: 90px;
}
.mypage-notice-list {
  background-color: #eeeeee;
  line-height: 60px;
  height: 60px;
  margin: 30px;
  color: #000;
}
.icon {
  height: 48px;
  width: 48px;
}
.buy-head {
  padding: 0 16px;
  line-height: 75px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  height: 75px;
  background: #fff;
}
.tab-buy-bought-content {
  &__buy {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;

    .tab-buy {
      color: #000;
      border-top: 1px solid red;
      line-height: 75px;
      width: 350px;
      height: 75px;
      background: #fff;
    }
    .tab-bought {
      color: #000;
      line-height: 75px;
      width: 350px;
      height: 75px;
      background: #eeeeee;
    }
  }
}
.mypage-tab {
  &__buy-list {
    line-height: 60px;
    .buy {
      width: 700px;
      background: #fff;
      display: flex;
      height: 80px;
      .text {
        width: 680px;
        margin: auto 0;
        color: black;
      }
      i {
        margin: auto 0;
        margin-right: 10px;
        color: black;
      }
    }
  }
}
.back {
  background-color: #fff;
  text-align: center;
  height: 90px;
  padding: 30px 30px 0;

  .mypage-buy-list {
    background-color: #eeeeee;
    line-height: 60px;
    height: 60px;
    color: black;
  }
}
