//各ブロックの共通設定

@import "color";
.box-common{
  padding: 40px 40px 20px;
  border-top: solid 2px whitesmoke;
}

//背景色設定
.container{
  background-color: #eee;
}

.header{
  text-align: center;
  height: 128px;
  &-logo{
    line-height: 100px;
    padding-top:20px;
  }
}
.body{
  background-color:#fff;
  margin: 0 auto;
  width: 700px;
  &__head{
    height: 33px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    padding: 32px 16px;
  }
}
.label{
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  
}
.label-mark{
  background-color: $red;
  color: white;
  display: inline-block;
  border-radius: 2px;
  font-size: 12px;
  padding: 4px;
  line-height: 12px;
  margin: 5px 5px 5px;
  font-weight: 600;

}

.label-mark-n{
  background-color: #cccccc;
  color: white;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px;
  line-height: 12px;
  margin: 5px;

}
.message{
  color:#8A8A8A;
  font-weight: bold;
  width: 200px;
  font-size: 14px;
  a{
    color:$skyblue
  }
}
.profit__message{
  font-weight: bold;
  font-size: 16px;
}
.form-box{
  width: 400px;
}
.small-message{
  font-size: 14px;
  margin-bottom: 10px;
}

.drop-zone{
  //ドラッグアンドドロップのデザイン
  height: 160px;
  flex: 1;
  font-size: 14px;
  background-color: #F5F5F5;
  border: dashed thin #cccccc;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 600;
  letter-spacing: -2px;

}
.input-image-box{
  //画像入力フォームとドラッグ＆ドロップの大きさを同じにし、ドラッグ＆ドロップのデザインと表示を重ねる
  height: 160px;
  width: 100%;
  position: absolute;
  opacity: 0;
}
.inputed{
  display: flex;
}
.image-preview-space{
  height: 160px;
  width: 10px;
}
//画像のプレビュー表示
.image-preview-box{
  display: inline-block;
  height: 160px;
  width: 114px;
  
  background-color: whitesmoke;

  &__wrapper{
    display: flex;
    text-align: center;
    line-height: 40px;
    color: #3EA7EA;
    font-size: 14px;
    cursor: pointer;

    &--edit {
      width: 57px;
      height: 40px;
      border-right: solid 0.1px #EEE;

    }
    &--destroy {
      width: 57px;
      height: 40px;
    }
  }
}
.image-preview-box-none{
  display: none;
}
.check_box__destroy{
  display: none;
}
//エラー文字の調整
.image-error{
  color: red;
}
.error{
  color: red;
}

.input-image-drop{
  display: flex;
  justify-content: start;
  flex-flow: wrap;
  align-items:flex-end;
}
.input-image-drop-none{
  display: none;
}
.preview{
  display: flex;
  flex-flow: wrap;
  align-items:flex-end;
  
}

//画像本体
.image-preview{
  height: 116px;
  width: 114px;
}


.input-image{
  padding: 40px;
  @extend.box-common;

}
//各ブロックでpaddingと区切りの線を入れる
.input-item-name,.input-details,.input-shipping,.input-price,.self-content{
  @extend.box-common;
}

.self-content{
  font-size:14px;
  a{color: $skyblue;
  font-size: 14px;}
  P{font-size: 14px;}
}

.sellbottom{
  margin: 0 auto;
  padding-top:30px;
  width: 700px;
  font-size: 12px;
  text-align: center;
  a{
    color: black;
    margin:20px 10px;
  }
  img{
    display: block;
    margin: 0 auto;
    margin-top:40px;
    margin-bottom:40px ;
  }
}

.input-textbox{
  width: 620px;
  box-sizing: border-box;
}

#item_item_name{
  height: 48px;
  border-radius: 5px;
  border: solid 1px $darkgray;
  padding: 10px 16px 8px;
  margin-bottom:30px;
}

#item_explain{
  padding:10px;
  height: 142px;
  border: solid 1px $darkgray;
}


#item_brand_id{
  width: 400px;
  height: 48px;
  padding: 10px 16px 8px;
  margin-bottom:30px;
  box-sizing: border-box;
}
.select-box{
  width: 400px;
  height: 48px;
  padding: 16px;
  border: solid 1px $darkgray;
  background-color: white;
  font-size: 16px;
  margin-bottom:30px;
}
.input-details,.input-shipping,.input-price{
  display: flex;
}
.price_form{
  display: flex;
  width: 170px;
  .price-form__label{
    font-size: 12px;
    line-height: 48px;
    margin-right:10px ;
  }
}
.box{
  width: 80px;
  height: 40px;
  margin-top: 15px;
  text-align: left;
}
.price{
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.charge,.profit{
  display: flex;
  justify-content: space-between;
  border-top: solid 2px whitesmoke;
  padding: 24px 0px;
}
.price_field{
  text-align: right;
  padding: 20px 0px;
  border-radius: 5px;
  .price_form{
    height: 48px;
    width:180px;
    input{
    display: block;
    height: 5px;
    width:calc(160px);
    text-align: right;
    border-radius:5px ;
    border:solid $darkgray 1px ;
    }

  }
}

//nunberフォームのボタン削除
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 5px;
}
.form-btn{
  cursor : pointer;
  width: 620px;
  height: 50px;
  background-color: #EA352C;
  color: white;
  font-size: 14px;
  margin-top: 30px;
}
.form-btn:hover {
  background-color:$red;
  }
.return-btn{
cursor : pointer;
height: 50px;
width: 280px;
background-color: gray;
text-align: center;
color: white;
margin: 20px 170px 20px;
}

.copyright{
  display: block;
  padding-bottom:40px;
}