//各ブロックの共通設定

.box-common{
  padding: 40px;
  border-top: solid 2px whitesmoke;
}

//背景色設定
.container{
  background-color: #eee;
}

.header{
  text-align: center;
  height: 128px;
  &-logo{
    line-height: 100px;

  }
}
.body{
  background-color:#fff;
  margin: 0 auto;
  width: 700px;
  &__head{
    height: 33px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    padding: 32px 16px;
  }
}
.label{
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  
}
.label-mark{
  background-color: red;
  color: white;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px;
  line-height: 12px;
  margin: 5px;

}

.label-mark-n{
  background-color: #cccccc;
  color: white;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px;
  line-height: 12px;
  margin: 5px;

}
.message{
  color:#8A8A8A;
  font-weight: bold;
  width: 200px;
  font-size: 14px;
}
.profit__message{
  font-weight: bold;
  font-size: 16px;
}
.form-box{
  width: 400px;
}
.small-message{
  font-size: 14px;
  margin-bottom: 10px;
}

.drop-zone{
  //ドラッグアンドドロップのデザイン
  height: 160px;
  width: 620px;
  font-size: 14px;
  background-color: #F5F5F5;
  border: dashed thin #cccccc;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.input-image-box{
  //画像入力フォームとドラッグ＆ドロップの大きさを同じにし、ドラッグ＆ドロップのデザインと表示を重ねる
  height: 160px;
  width: 100%;
  position: absolute;
  opacity: 0;
}

//画像のプレビュー表示
.image-preview-box{
  display: inline-block;
  height: 160px;
  width: 114px;
  background-color: whitesmoke;
}
//エラー文字の調整
.image-error{
  color: red;
}
.error{
  color: red;
}

.input-image-drop{
  display: flex;
}
.preview{
  display: flex;
}
//画像本体
.image-preview{
  
}


.input-image{
  padding: 40px;
  @extend.box-common;

}
//各ブロックでpaddingと区切りの線を入れる
.input-item-name,.input-details,.input-shipping,.input-price,.self-content{
  @extend.box-common;
}

.bottom{
  margin: 0 auto;
  width: 700px;
}
.input-textbox{
  width: 620px;
  padding: 10px;
  box-sizing: border-box;
}
#item_brand_id{
  width: 400px;
  height: 48px;
  padding: 10px 16px 8px;
  box-sizing: border-box;
}
.select-box{
  width: 400px;
  height: 48px;
  padding: 16px;
}
.input-details,.input-shipping,.input-price{
  display: flex;
}
.price_form{
  display: flex;
  width: 160px;
  .price-form__label{
    font-size: 12px;
    line-height: 38px;
  }
}
.box{
  width: 80px;
}
.price{
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.charge,.profit{
  display: flex;
  justify-content: space-between;
  border-top: solid 2px whitesmoke;
  padding: 24px 0px;
}
.price{
  text-align: right;
  padding: 10px;
}

//nunberフォームのボタン削除
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 5px;
}
.form-btn{
  cursor : pointer;
  width: 620px;
  height: 50px;
  background-color: #EA352C;
  color: white;
  font-size: 14px;
  margin-top: 40px;
}
.form-btn:hover {
  background-color: red;
  }
.return-btn{
cursor : pointer;
height: 50px;
width: 280px;
background-color: gray;
text-align: center;
color: white;
margin: 40px 170px 0px;
}