.pankuzu {
  margin-left: 80px;
  display: flex;
  text-align: center;
  height: 50px;
  line-height: 50px;
  box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
  .top {
    color: #000000;
    &:hover{
      color: gray;
      text-decoration:underline ;
    }
  }
  i {
    color: gray;
    margin: auto 0;
    margin-right: 10px;
    padding-left: 20px;
  }
  .bold {
    font-weight: bold;
  }
}
.mypage-content {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 1300px;
  padding-top: 40px;
  margin-right: 210px;
}
// li {
//   border-bottom: 1px solid #eeeeee;
// }
