@import "color";
.left-content {
  height: 1252px;
}
.mylink-myp {
  font-size:14px;
  width: 280px;
  margin-left: 50px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  background-color: #eeeeee;
  &:hover{
    opacity: 0.5;
  }
  &__myp {
    color: black;
    margin-left: 10px;
  }
  i {
    color: black;
    margin: auto 0;
    margin-right: 10px;
  }
}
.mylink {
  font-size:14px;
  width: 280px;
  margin: 0 50px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  background-color: #fff;
  border-bottom:1px solid $darkgray ;
  &:hover{
    opacity: 0.5;
  }
  &__p {
    color: black;
    margin-left: 10px;
  }
  i {
    color: gray;
    margin: auto 0;
    margin-right: 10px;
  }
}