@import "color";
.card {
  text-align: center;
  width: 700px;
  height: 200px;
  background-color: #fff;
  &__head {
    width: 700px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid #eeeeee;
  }
  &__area {
    width: 573px;
    height: 245 px;
    padding: 64px;
    background-color: #fff;
    &__list {
      font-weight: bold;
      font-size: 16px;
      margin-right: 160px;
    }
    &__num{
      margin: 0 auto;
      width:320px;
      margin-top:40px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      &__card{
        &__num{
          img{height:15px;
          width:auto;
        display: block;
        margin-bottom:10px ;}
          margin-bottom:10px ;
        }
        &__date{

        }
      }
      &__button{
        form{
        button{
          display: flex;
          background-color: #fff;
          color: $red;
          border: $red 1px solid;
          padding:0px 7px;
          font-weight: bold;
          font-size: 16px;
          border-radius:5px ;
          margin-top:20px;
        }
      }
      }
    }
    &__feild {
      padding: 24px 0;
      border-bottom: 1px solid #eeeeee;
      &__btn {
        width: 320px;
        margin: 0 auto;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #ea352d;
        display: flex;
        justify-content: center;
        margin-top:30px;
        &:hover {
          opacity: 0.5;
        }
        .i-card {
          margin-top: 15px;
          color: #fff;
          font-size: 18px;
        }
        &__p {
          margin-left: 10px;
          font-size: 14px;
          color: #fff;
        }
      }
    }
    &__how {
      display: flex;
      justify-content: flex-end;
      &:hover {
        opacity: 0.5;
      }
      &__p {
        color: $skyblue;
        font-size: 14px;
        margin: 40px 0;
        &:hover {
          border-bottom: 1px solid $skyblue;
        }
      }
      i {
        margin: 43px 0;
        margin-left: 10px;
        color: $skyblue;
        font-size: 14px;
      }
    }
  }
}
