.wrapper {

  width: 100%;
  height: 100%;
  background-color: #f5f5f5;

  .mercari-logo {
    text-align: center;
    background-color: #f5f5f5;
    width: 100%;
    height: 128px;

    &--content {
      line-height: 128px;
    }

  }
  .user-h1 {
    text-align: center;
    background-color: white;
    width: 700px;
    height: 97px;
    margin: auto;
    line-height: 97px;
    border-bottom: solid 0.1px #f5f5f5;
    font-size: 22px;
    font-weight: bold;

  }
  .type {
    background-color: white;
    width: 700px;
    height: 286px;
    margin: auto;
    position: relative;

    &__wrapper {
      position: absolute;
      top: 43px;
      right: 0;
      bottom: 0;
      left: 0;

      &__mail {
        background-color: #EA352D;
        width: 343px;
        height: 50px;
        margin: auto;
        font-size: 14px;
        border-radius: 5px;

        &__center {
          margin-left: 15px;
          line-height: 50px;
          color: #fff;
          
          &--icon {
            font-weight: bold;
          }
          
          &--content {
            margin-left: 50px;
          }
        }
      }
    
      &__facebook {
        background-color: #385185;
        width: 343px;
        height: 50px;
        margin: 16px auto;
        font-size: 14px;
        border-radius: 5px;

        &__center {
          margin-left: 15px;
          line-height: 50px;
          color: #fff;
          &--icon {
            font-weight: bold;
          }
          
          &--content {
            margin-left: 50px;
          }
        }
      }
      &__google {
        width: 343px;
        height: 50px;
        margin: 16px auto;
        border: solid 0.5px #979797;
        font-size: 14px;
        border-radius: 5px;

        &__center {
          margin-left: 15px;
          line-height: 50px;
          
          &--icon {
            font-weight: bold;
            color: red;
          }
          
          &--content {
            margin-left: 50px;
            color: #333;
          }
        }
      }
    }
  }

  .rule {
    text-align: center;
    display: flex;
    margin: 30px auto;
    font-size: 12px;
    width: 400px;
    height: 50px;

    &__wrapper {
      margin: auto;
      &--deco {
        color: #333;
        margin-right: 10px;
      }
    }

  }
}